body {
    margin: 0;
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 80px;
}
.container {
    margin-top: 20px;
}
.container img {
     border: 4px solid #1e40af;
     border-radius: 10px;
     max-width: 95%;
    }
.titulo{
    color: #1e40af;
    margin-bottom: 20px;
    padding-left: 280px;
    font-weight: 700;

}