
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-top: 80px; */
}

/* Navbar */
.Navbar {
    display: flex; /* Transforma a navbar em flex container, permitindo alinhar elementos horizontalmente. */
    justify-content: space-between; 
    align-items: center;
    background: #003366;
    padding: 10px 40px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Container logo + texto */
.logo-container {
    display: flex;
    align-items: center;
    gap: 15px; /* espaço entre logo e texto */
}

/* Tirar o aspecto de link: */
.logo-text a {
    text-decoration: none;
    color: inherit; /* pega a cor do h1 */
}

.logo-container img {
    height: 55px;
    width: auto;
    text-decoration: none;
    color: inherit;
    
}

.logo-text {
    font-size: 20px;
    margin: 0;
}

/* Botão circular de login */
.circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 50px;
    
}

.circle-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

/* Ícone dentro do botão */
.circle-btn i {
    pointer-events: none;
}

.text{
    color: #000000;
    text-align: center;
}

main {
  margin-top: 60px; /* Ajuste conforme a altura da navbar */
}

section {
  margin-bottom: 30px;
}


#tabela th{
    background-color: 	#B0E0E6;
}

#tabela td{
    background-color: 	#E6E6FA;
}

.chatbot-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: 10px;
}

.bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      user-select: none;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

.user-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff22; /* semitransparente */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

.user-btn:hover {
    background-color: #ffffff55;
    transform: scale(1.1);
}

.user-dropdown {
    background-color: #1e40af; /* azul escuro */
    border-radius: 10px;
    min-width: 180px;
    padding: 0.5rem 0;
}

.user-dropdown .dropdown-item:hover {
    background-color: #3749a0; /* hover mais escuro */
}

.user-name {
    font-weight: bold;
    cursor: default;
    color: black;
}


