  body {
            font-family: Arial, sans-serif;
            background-color: #071024;
            color: #fff;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 700px;
            margin: 50px auto;
            background-color: #1b1f3b;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        select, button {
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        .resultado {
            background-color: #333;
            padding: 15px;
            border-radius: 8px;
        }

        .caminho {
            color: #4caf50;
            font-weight: bold;
        }

        .hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}