<!DOCTYPE html>
<html lang =  "pt-br">
    <head>
        <title>Login</title>
        <link rel="icon" href="static\img\IconAviao.ico" type="image/x-icon">
         <link rel="stylesheet" href="static/css/login.css">
    </head>
    <body>
        <div class = "login-container">
            <h1 class = "login-text">Login</h1>
            <form class = "formulario" method="post" action="/login_user">

                <label>Email</label>
                <input type = "email" id = "email" name = "email" placeholder="Digite seu email" required>

                <label>Senha</label>
                <input type = "password" id = "senha" name = "senha" placeholder="Digite sua senha" required>

                <button type = "submit">Entrar</button>

                {% if mensagem %}
                 <p class = "mensageErro">{{ mensagem }}</p>
             {% endif %}
             </form>

             <div class="voltar-container" style="margin-top: 1rem; text-align: center;">
          <a href="/" title="Voltar para o início" style="color: #1e40af; text-decoration: none;">
            <i class="fas fa-home"></i> Voltar para o início
          </a>
        </div>
        </div>
    </body>
</html>