<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b3059444619645b7279ef2095456e7c1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_b3059444619645b7279ef2095456e7c1" ></div>
        
</body>
<script>
    
    
            var map_b3059444619645b7279ef2095456e7c1 = L.map(
                "map_b3059444619645b7279ef2095456e7c1",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 2,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_558e5771775e7b9950489f9b09c814b5 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_558e5771775e7b9950489f9b09c814b5.addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
            var marker_69dce3fc3bc7408aa6b6da33694b9fda = L.marker(
                [-15.7801, -47.9292],
                {
}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
            var icon_0ffdd1599b5d1c325e8fdd1b231779af = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b38db6d2de3a6795f40d1a2b37cff2a1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ee81d602253070f2373718287555ee55 = $(`<div id="html_ee81d602253070f2373718287555ee55" style="width: 100.0%; height: 100.0%;">Aeroporto: Brasil</div>`)[0];
                popup_b38db6d2de3a6795f40d1a2b37cff2a1.setContent(html_ee81d602253070f2373718287555ee55);
            
        

        marker_69dce3fc3bc7408aa6b6da33694b9fda.bindPopup(popup_b38db6d2de3a6795f40d1a2b37cff2a1)
        ;

        
    
    
                marker_69dce3fc3bc7408aa6b6da33694b9fda.setIcon(icon_0ffdd1599b5d1c325e8fdd1b231779af);
            
    
            var marker_1e2312912b8dee3b82cb3ddc799642fb = L.marker(
                [36.5, 127.5],
                {
}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
            var icon_a0a317b5b75159f10146d994370bf363 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_683fb7025b80bc463af289de4a1bed0f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0ef49106df878140ed02e2d9e1f8ddf9 = $(`<div id="html_0ef49106df878140ed02e2d9e1f8ddf9" style="width: 100.0%; height: 100.0%;">Aeroporto: Coreia</div>`)[0];
                popup_683fb7025b80bc463af289de4a1bed0f.setContent(html_0ef49106df878140ed02e2d9e1f8ddf9);
            
        

        marker_1e2312912b8dee3b82cb3ddc799642fb.bindPopup(popup_683fb7025b80bc463af289de4a1bed0f)
        ;

        
    
    
                marker_1e2312912b8dee3b82cb3ddc799642fb.setIcon(icon_a0a317b5b75159f10146d994370bf363);
            
    
            var poly_line_5cbbb9cf87fea82556a027d2e4ed9e58 = L.polyline(
                [[-15.7801, -47.9292], [36.5, 127.5]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
        var popup_072d7dd65be2ab27b9575a502b678ec8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_65b99fb5ade92ddcb28a8610c5203d28 = $(`<div id="html_65b99fb5ade92ddcb28a8610c5203d28" style="width: 100.0%; height: 100.0%;">Voo 3413 | Data: 20/11 | Hora: 10:10 | Preço: 10000</div>`)[0];
                popup_072d7dd65be2ab27b9575a502b678ec8.setContent(html_65b99fb5ade92ddcb28a8610c5203d28);
            
        

        poly_line_5cbbb9cf87fea82556a027d2e4ed9e58.bindPopup(popup_072d7dd65be2ab27b9575a502b678ec8)
        ;

        
    
    
            var marker_c5f0b4f5838b1447150a6f23a1397b76 = L.marker(
                [36.2048, 138.2529],
                {
}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
            var icon_e163fea0f3a638cca84c2caedbfc7d38 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_fda6c68d7f5bcdc0a8cfc5424e9c5dcf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_469491cd77d7fa57b8585cb5edb0affd = $(`<div id="html_469491cd77d7fa57b8585cb5edb0affd" style="width: 100.0%; height: 100.0%;">Aeroporto: Japão</div>`)[0];
                popup_fda6c68d7f5bcdc0a8cfc5424e9c5dcf.setContent(html_469491cd77d7fa57b8585cb5edb0affd);
            
        

        marker_c5f0b4f5838b1447150a6f23a1397b76.bindPopup(popup_fda6c68d7f5bcdc0a8cfc5424e9c5dcf)
        ;

        
    
    
                marker_c5f0b4f5838b1447150a6f23a1397b76.setIcon(icon_e163fea0f3a638cca84c2caedbfc7d38);
            
    
            var poly_line_68b65457572d97f066a6e01094a88c92 = L.polyline(
                [[-15.7801, -47.9292], [36.2048, 138.2529]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
        var popup_1a8152934848590be35c894196c175e4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cfd0cba23328a08681d21b94a06cac7e = $(`<div id="html_cfd0cba23328a08681d21b94a06cac7e" style="width: 100.0%; height: 100.0%;">Voo 4521 | Data: 22/11 | Hora: 15:30 | Preço: 8500</div>`)[0];
                popup_1a8152934848590be35c894196c175e4.setContent(html_cfd0cba23328a08681d21b94a06cac7e);
            
        

        poly_line_68b65457572d97f066a6e01094a88c92.bindPopup(popup_1a8152934848590be35c894196c175e4)
        ;

        
    
    
            var marker_024dcfff052374fbb36dd24cd8a2fa19 = L.marker(
                [37.0902, -95.7129],
                {
}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
            var icon_1a5e5dce042dbb7332798b9cd7407ade = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d7ae2a157e4dda367af60a1459702858 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_655aaaa89977715d778ed5ac5d397158 = $(`<div id="html_655aaaa89977715d778ed5ac5d397158" style="width: 100.0%; height: 100.0%;">Aeroporto: Estados Unidos</div>`)[0];
                popup_d7ae2a157e4dda367af60a1459702858.setContent(html_655aaaa89977715d778ed5ac5d397158);
            
        

        marker_024dcfff052374fbb36dd24cd8a2fa19.bindPopup(popup_d7ae2a157e4dda367af60a1459702858)
        ;

        
    
    
                marker_024dcfff052374fbb36dd24cd8a2fa19.setIcon(icon_1a5e5dce042dbb7332798b9cd7407ade);
            
    
            var poly_line_cb63660ad8e22387329e171b4e726719 = L.polyline(
                [[-15.7801, -47.9292], [37.0902, -95.7129]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
        var popup_f7f8b83bb330329f92e2292a77c7fd20 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2e57acdbe8548de545a500b68adf5e2e = $(`<div id="html_2e57acdbe8548de545a500b68adf5e2e" style="width: 100.0%; height: 100.0%;">Voo 7689 | Data: 25/11 | Hora: 08:00 | Preço: 12000</div>`)[0];
                popup_f7f8b83bb330329f92e2292a77c7fd20.setContent(html_2e57acdbe8548de545a500b68adf5e2e);
            
        

        poly_line_cb63660ad8e22387329e171b4e726719.bindPopup(popup_f7f8b83bb330329f92e2292a77c7fd20)
        ;

        
    
    
            var marker_d40372612fb84be599d391c6bac22bd3 = L.marker(
                [46.2276, 2.2137],
                {
}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
            var icon_31bdd59bd4af82a0d2a2e9884e6a78b5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_58935813a6e7336c48b12b8de4ca3e5e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_19f62d63bfee5e94d9b3d2412ffc1152 = $(`<div id="html_19f62d63bfee5e94d9b3d2412ffc1152" style="width: 100.0%; height: 100.0%;">Aeroporto: França</div>`)[0];
                popup_58935813a6e7336c48b12b8de4ca3e5e.setContent(html_19f62d63bfee5e94d9b3d2412ffc1152);
            
        

        marker_d40372612fb84be599d391c6bac22bd3.bindPopup(popup_58935813a6e7336c48b12b8de4ca3e5e)
        ;

        
    
    
                marker_d40372612fb84be599d391c6bac22bd3.setIcon(icon_31bdd59bd4af82a0d2a2e9884e6a78b5);
            
    
            var poly_line_6e720b8fd53888f1b5a5d5c8ec551933 = L.polyline(
                [[-15.7801, -47.9292], [46.2276, 2.2137]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
        var popup_d04f22ad962ad97fe2e98a3789cdb7e0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bbc1395214027c40b698456d024ef8cc = $(`<div id="html_bbc1395214027c40b698456d024ef8cc" style="width: 100.0%; height: 100.0%;">Voo 9987 | Data: 28/11 | Hora: 12:45 | Preço: 9500</div>`)[0];
                popup_d04f22ad962ad97fe2e98a3789cdb7e0.setContent(html_bbc1395214027c40b698456d024ef8cc);
            
        

        poly_line_6e720b8fd53888f1b5a5d5c8ec551933.bindPopup(popup_d04f22ad962ad97fe2e98a3789cdb7e0)
        ;

        
    
    
            var marker_dffe56355f2a2926c52da4e7f4103d94 = L.marker(
                [51.1657, 10.4515],
                {
}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
            var icon_33ae0ff494942d70ead550ca76405b86 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_152b414ec13724b0b888611b7c15105a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dc76f3a036bc152199d94b79f199f260 = $(`<div id="html_dc76f3a036bc152199d94b79f199f260" style="width: 100.0%; height: 100.0%;">Aeroporto: Alemanha</div>`)[0];
                popup_152b414ec13724b0b888611b7c15105a.setContent(html_dc76f3a036bc152199d94b79f199f260);
            
        

        marker_dffe56355f2a2926c52da4e7f4103d94.bindPopup(popup_152b414ec13724b0b888611b7c15105a)
        ;

        
    
    
                marker_dffe56355f2a2926c52da4e7f4103d94.setIcon(icon_33ae0ff494942d70ead550ca76405b86);
            
    
            var poly_line_16bfd96ff662f1c0776fac0beefb1841 = L.polyline(
                [[-15.7801, -47.9292], [51.1657, 10.4515]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
        var popup_86d9c8a8d95029bbb9ec0d737ac80ced = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9d7ada903b05255a1cbb362077e359f2 = $(`<div id="html_9d7ada903b05255a1cbb362077e359f2" style="width: 100.0%; height: 100.0%;">Voo 1122 | Data: 30/11 | Hora: 20:15 | Preço: 9800</div>`)[0];
                popup_86d9c8a8d95029bbb9ec0d737ac80ced.setContent(html_9d7ada903b05255a1cbb362077e359f2);
            
        

        poly_line_16bfd96ff662f1c0776fac0beefb1841.bindPopup(popup_86d9c8a8d95029bbb9ec0d737ac80ced)
        ;

        
    
    
            var poly_line_874fbb8d745aff94b658f4f8064333bc = L.polyline(
                [[36.5, 127.5], [37.0902, -95.7129]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
        var popup_61bf3f8a20c33939d9c89f702a2effcc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0bb8ea2f20b26db7d4875057807a4772 = $(`<div id="html_0bb8ea2f20b26db7d4875057807a4772" style="width: 100.0%; height: 100.0%;">Voo 1234 | Data: 2025-12-18 | Hora: 20:59 | Preço: 1400.0</div>`)[0];
                popup_61bf3f8a20c33939d9c89f702a2effcc.setContent(html_0bb8ea2f20b26db7d4875057807a4772);
            
        

        poly_line_874fbb8d745aff94b658f4f8064333bc.bindPopup(popup_61bf3f8a20c33939d9c89f702a2effcc)
        ;

        
    
    
            var marker_b3e0a84d9a01ba39a8a99c3514e0767f = L.marker(
                [-11.2027, 17.8739],
                {
}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
            var icon_0ecef5eaeece252b8c6568e544631d60 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_0d75a3e12ffa1c95f5a95afd41cdfd15 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5703b7c94f15bfc410a05110e6dc6655 = $(`<div id="html_5703b7c94f15bfc410a05110e6dc6655" style="width: 100.0%; height: 100.0%;">Aeroporto: Angola</div>`)[0];
                popup_0d75a3e12ffa1c95f5a95afd41cdfd15.setContent(html_5703b7c94f15bfc410a05110e6dc6655);
            
        

        marker_b3e0a84d9a01ba39a8a99c3514e0767f.bindPopup(popup_0d75a3e12ffa1c95f5a95afd41cdfd15)
        ;

        
    
    
                marker_b3e0a84d9a01ba39a8a99c3514e0767f.setIcon(icon_0ecef5eaeece252b8c6568e544631d60);
            
    
            var poly_line_6650a9b46910443218b7ad94622ecc07 = L.polyline(
                [[36.2048, 138.2529], [-11.2027, 17.8739]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_b3059444619645b7279ef2095456e7c1);
        
    
        var popup_f4f9536874708e24d380daa707ccebdb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1229a04c26901ea8f60cd1ac5cf0188a = $(`<div id="html_1229a04c26901ea8f60cd1ac5cf0188a" style="width: 100.0%; height: 100.0%;">Voo 1745 | Data: 2026-01-06 | Hora: 21:00 | Preço: 1000.0</div>`)[0];
                popup_f4f9536874708e24d380daa707ccebdb.setContent(html_1229a04c26901ea8f60cd1ac5cf0188a);
            
        

        poly_line_6650a9b46910443218b7ad94622ecc07.bindPopup(popup_f4f9536874708e24d380daa707ccebdb)
        ;

        
    
</script>
</html>