<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f2d2b45f555efa1836be7120bac799b3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_f2d2b45f555efa1836be7120bac799b3" ></div>
        
</body>
<script>
    
    
            var map_f2d2b45f555efa1836be7120bac799b3 = L.map(
                "map_f2d2b45f555efa1836be7120bac799b3",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 2,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_99fa6814828cf1dcccf36cd4aa2295f0 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_99fa6814828cf1dcccf36cd4aa2295f0.addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
            var marker_fa65b48a6bbf05d5635d69919db5489c = L.marker(
                [-15.7801, -47.9292],
                {
}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
            var icon_9ada6bf1eb87c2fa73aa083ca44f6b7b = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_13ddf3a0c2e0bf5ae672432465f839fa = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3b3f47ec9f3998ac474c647461632135 = $(`<div id="html_3b3f47ec9f3998ac474c647461632135" style="width: 100.0%; height: 100.0%;">Aeroporto: Brasil</div>`)[0];
                popup_13ddf3a0c2e0bf5ae672432465f839fa.setContent(html_3b3f47ec9f3998ac474c647461632135);
            
        

        marker_fa65b48a6bbf05d5635d69919db5489c.bindPopup(popup_13ddf3a0c2e0bf5ae672432465f839fa)
        ;

        
    
    
                marker_fa65b48a6bbf05d5635d69919db5489c.setIcon(icon_9ada6bf1eb87c2fa73aa083ca44f6b7b);
            
    
            var marker_d85b4946add04fb77205103e07d76660 = L.marker(
                [36.5, 127.5],
                {
}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
            var icon_57fcd7ecbcabf2b546b280826dd32ec3 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_f229d463200133c3e501667abd701e82 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9a95ec8c54ae5d22b0c63431b99d9434 = $(`<div id="html_9a95ec8c54ae5d22b0c63431b99d9434" style="width: 100.0%; height: 100.0%;">Aeroporto: Coreia</div>`)[0];
                popup_f229d463200133c3e501667abd701e82.setContent(html_9a95ec8c54ae5d22b0c63431b99d9434);
            
        

        marker_d85b4946add04fb77205103e07d76660.bindPopup(popup_f229d463200133c3e501667abd701e82)
        ;

        
    
    
                marker_d85b4946add04fb77205103e07d76660.setIcon(icon_57fcd7ecbcabf2b546b280826dd32ec3);
            
    
            var poly_line_a93c3119b0da0804fa2297e08777f39f = L.polyline(
                [[-15.7801, -47.9292], [36.5, 127.5]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_0b2b1038c571a1cea348fabd582624b2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_599baceb948ec3246d75129bd6e9bfd9 = $(`<div id="html_599baceb948ec3246d75129bd6e9bfd9" style="width: 100.0%; height: 100.0%;">Voo 3413 | Data: 20/11 | Hora: 10:10 | Preço: 10000</div>`)[0];
                popup_0b2b1038c571a1cea348fabd582624b2.setContent(html_599baceb948ec3246d75129bd6e9bfd9);
            
        

        poly_line_a93c3119b0da0804fa2297e08777f39f.bindPopup(popup_0b2b1038c571a1cea348fabd582624b2)
        ;

        
    
    
            var marker_a806773d4624105812f938dcff372f69 = L.marker(
                [36.2048, 138.2529],
                {
}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
            var icon_8a5cfbe023301a8bd9ac316090e2c1dd = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_20ac7667eebb6bbc4bae505daff95e4d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1f78f03ed2e63c6503fd90d2da69392e = $(`<div id="html_1f78f03ed2e63c6503fd90d2da69392e" style="width: 100.0%; height: 100.0%;">Aeroporto: Japão</div>`)[0];
                popup_20ac7667eebb6bbc4bae505daff95e4d.setContent(html_1f78f03ed2e63c6503fd90d2da69392e);
            
        

        marker_a806773d4624105812f938dcff372f69.bindPopup(popup_20ac7667eebb6bbc4bae505daff95e4d)
        ;

        
    
    
                marker_a806773d4624105812f938dcff372f69.setIcon(icon_8a5cfbe023301a8bd9ac316090e2c1dd);
            
    
            var poly_line_6054561a1fa6d72366d7e0ae2b3a0cd9 = L.polyline(
                [[-15.7801, -47.9292], [36.2048, 138.2529]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_8d4fb35df174ad9866588d910708fc4e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9ec349b187f5aa6143fbd5cb0cd09f4b = $(`<div id="html_9ec349b187f5aa6143fbd5cb0cd09f4b" style="width: 100.0%; height: 100.0%;">Voo 4521 | Data: 22/11 | Hora: 15:30 | Preço: 8500</div>`)[0];
                popup_8d4fb35df174ad9866588d910708fc4e.setContent(html_9ec349b187f5aa6143fbd5cb0cd09f4b);
            
        

        poly_line_6054561a1fa6d72366d7e0ae2b3a0cd9.bindPopup(popup_8d4fb35df174ad9866588d910708fc4e)
        ;

        
    
    
            var marker_b222c0997b1c5935da15b968875193f2 = L.marker(
                [37.0902, -95.7129],
                {
}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
            var icon_655c0d76efcc4be6aeaad471616ae0d9 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_39fc8f8a00b5867083db8373b0c63268 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_370b599b54a2c85a979dd425758b64cd = $(`<div id="html_370b599b54a2c85a979dd425758b64cd" style="width: 100.0%; height: 100.0%;">Aeroporto: Estados Unidos</div>`)[0];
                popup_39fc8f8a00b5867083db8373b0c63268.setContent(html_370b599b54a2c85a979dd425758b64cd);
            
        

        marker_b222c0997b1c5935da15b968875193f2.bindPopup(popup_39fc8f8a00b5867083db8373b0c63268)
        ;

        
    
    
                marker_b222c0997b1c5935da15b968875193f2.setIcon(icon_655c0d76efcc4be6aeaad471616ae0d9);
            
    
            var poly_line_8c90bd32668da74c76b5bb21b7b6a89a = L.polyline(
                [[-15.7801, -47.9292], [37.0902, -95.7129]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_bbdce24966da6bb92324db016169d0dc = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2804acfdf853763042ac676d9fcc2419 = $(`<div id="html_2804acfdf853763042ac676d9fcc2419" style="width: 100.0%; height: 100.0%;">Voo 7689 | Data: 25/11 | Hora: 08:00 | Preço: 12000</div>`)[0];
                popup_bbdce24966da6bb92324db016169d0dc.setContent(html_2804acfdf853763042ac676d9fcc2419);
            
        

        poly_line_8c90bd32668da74c76b5bb21b7b6a89a.bindPopup(popup_bbdce24966da6bb92324db016169d0dc)
        ;

        
    
    
            var marker_c0531df82b75896ad7eb461683453fdb = L.marker(
                [46.2276, 2.2137],
                {
}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
            var icon_bfec499a282349ccfd7b5a507b04c2e7 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_acda1246971129ed166613ec5bf88af2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c35a9b92a1504e58514fc69942180734 = $(`<div id="html_c35a9b92a1504e58514fc69942180734" style="width: 100.0%; height: 100.0%;">Aeroporto: França</div>`)[0];
                popup_acda1246971129ed166613ec5bf88af2.setContent(html_c35a9b92a1504e58514fc69942180734);
            
        

        marker_c0531df82b75896ad7eb461683453fdb.bindPopup(popup_acda1246971129ed166613ec5bf88af2)
        ;

        
    
    
                marker_c0531df82b75896ad7eb461683453fdb.setIcon(icon_bfec499a282349ccfd7b5a507b04c2e7);
            
    
            var poly_line_3646e27458b55a61e805b0d0c0c08f4e = L.polyline(
                [[-15.7801, -47.9292], [46.2276, 2.2137]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_8f808b17f1ee13be817a092f580ad959 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_deb67a477b12870db4b0e26259f625a6 = $(`<div id="html_deb67a477b12870db4b0e26259f625a6" style="width: 100.0%; height: 100.0%;">Voo 9987 | Data: 28/11 | Hora: 12:45 | Preço: 9500</div>`)[0];
                popup_8f808b17f1ee13be817a092f580ad959.setContent(html_deb67a477b12870db4b0e26259f625a6);
            
        

        poly_line_3646e27458b55a61e805b0d0c0c08f4e.bindPopup(popup_8f808b17f1ee13be817a092f580ad959)
        ;

        
    
    
            var marker_94bb29b8b18f74bd39fcf53bb8858dc1 = L.marker(
                [51.1657, 10.4515],
                {
}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
            var icon_759e37b38f93fb68877ab01b919d1dc0 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a6d05168e153866e491f5cf66e50ba40 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e3228142975ccbf13da997e1b74d02aa = $(`<div id="html_e3228142975ccbf13da997e1b74d02aa" style="width: 100.0%; height: 100.0%;">Aeroporto: Alemanha</div>`)[0];
                popup_a6d05168e153866e491f5cf66e50ba40.setContent(html_e3228142975ccbf13da997e1b74d02aa);
            
        

        marker_94bb29b8b18f74bd39fcf53bb8858dc1.bindPopup(popup_a6d05168e153866e491f5cf66e50ba40)
        ;

        
    
    
                marker_94bb29b8b18f74bd39fcf53bb8858dc1.setIcon(icon_759e37b38f93fb68877ab01b919d1dc0);
            
    
            var poly_line_55ccceee2a393d5e81fd94fd81f60402 = L.polyline(
                [[-15.7801, -47.9292], [51.1657, 10.4515]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_b142a016ec2184fe8228873a203ace6c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_86cf9a3c30b278cb1b74cb159622e3cc = $(`<div id="html_86cf9a3c30b278cb1b74cb159622e3cc" style="width: 100.0%; height: 100.0%;">Voo 1122 | Data: 30/11 | Hora: 20:15 | Preço: 9800</div>`)[0];
                popup_b142a016ec2184fe8228873a203ace6c.setContent(html_86cf9a3c30b278cb1b74cb159622e3cc);
            
        

        poly_line_55ccceee2a393d5e81fd94fd81f60402.bindPopup(popup_b142a016ec2184fe8228873a203ace6c)
        ;

        
    
    
            var poly_line_9834a99611f02c7f2c15aa5792a28a1f = L.polyline(
                [[36.5, 127.5], [37.0902, -95.7129]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_cbee06bfb9ce721472fdf309f66e7a3e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b04bf3a4e17a10f3f55793681f7a2751 = $(`<div id="html_b04bf3a4e17a10f3f55793681f7a2751" style="width: 100.0%; height: 100.0%;">Voo 1234 | Data: 2025-12-18 | Hora: 20:59 | Preço: 1400.0</div>`)[0];
                popup_cbee06bfb9ce721472fdf309f66e7a3e.setContent(html_b04bf3a4e17a10f3f55793681f7a2751);
            
        

        poly_line_9834a99611f02c7f2c15aa5792a28a1f.bindPopup(popup_cbee06bfb9ce721472fdf309f66e7a3e)
        ;

        
    
    
            var marker_e230c46ee25188a30f65fe23acc66e4c = L.marker(
                [-11.2027, 17.8739],
                {
}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
            var icon_13bfba6349b2dbbaaa23d5e452bbd09f = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_d633a627719ea2418fdd13b51643dfc7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e3a325d2ef7006527c12313250b9bd54 = $(`<div id="html_e3a325d2ef7006527c12313250b9bd54" style="width: 100.0%; height: 100.0%;">Aeroporto: Angola</div>`)[0];
                popup_d633a627719ea2418fdd13b51643dfc7.setContent(html_e3a325d2ef7006527c12313250b9bd54);
            
        

        marker_e230c46ee25188a30f65fe23acc66e4c.bindPopup(popup_d633a627719ea2418fdd13b51643dfc7)
        ;

        
    
    
                marker_e230c46ee25188a30f65fe23acc66e4c.setIcon(icon_13bfba6349b2dbbaaa23d5e452bbd09f);
            
    
            var poly_line_222018229b7f87ad73a9290149fe1634 = L.polyline(
                [[36.2048, 138.2529], [-11.2027, 17.8739]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_266766cc2597c570c432cf8700dbe8da = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_388261212cec8e2dd55a14e091d79866 = $(`<div id="html_388261212cec8e2dd55a14e091d79866" style="width: 100.0%; height: 100.0%;">Voo 1745 | Data: 2026-01-06 | Hora: 21:00 | Preço: 1000.0</div>`)[0];
                popup_266766cc2597c570c432cf8700dbe8da.setContent(html_388261212cec8e2dd55a14e091d79866);
            
        

        poly_line_222018229b7f87ad73a9290149fe1634.bindPopup(popup_266766cc2597c570c432cf8700dbe8da)
        ;

        
    
    
            var poly_line_c15b334b6fe2a38bb2c970d8e4a798e5 = L.polyline(
                [[37.0902, -95.7129], [36.5, 127.5]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_3ff3f3aeb522933e9ff88896da33dcc1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_26d6df5c64393f8325efb27773c60153 = $(`<div id="html_26d6df5c64393f8325efb27773c60153" style="width: 100.0%; height: 100.0%;">Voo 5555 | Data: 15/11 | Hora: 19:00 | Preço: 7000</div>`)[0];
                popup_3ff3f3aeb522933e9ff88896da33dcc1.setContent(html_26d6df5c64393f8325efb27773c60153);
            
        

        poly_line_c15b334b6fe2a38bb2c970d8e4a798e5.bindPopup(popup_3ff3f3aeb522933e9ff88896da33dcc1)
        ;

        
    
    
            var poly_line_a80cd10693cccdfa7eb2a4b812166b17 = L.polyline(
                [[46.2276, 2.2137], [51.1657, 10.4515]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_7bbc5a448f2276146117c22f58e0e547 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9f8840286cba1f349da3bde2b7a38a3b = $(`<div id="html_9f8840286cba1f349da3bde2b7a38a3b" style="width: 100.0%; height: 100.0%;">Voo 2233 | Data: 01/12 | Hora: 14:00 | Preço: 2000</div>`)[0];
                popup_7bbc5a448f2276146117c22f58e0e547.setContent(html_9f8840286cba1f349da3bde2b7a38a3b);
            
        

        poly_line_a80cd10693cccdfa7eb2a4b812166b17.bindPopup(popup_7bbc5a448f2276146117c22f58e0e547)
        ;

        
    
    
            var poly_line_53ff7b395c787f16f8e313e88ac8d50c = L.polyline(
                [[51.1657, 10.4515], [36.5, 127.5]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_4ce38e48db458cd5090e4052c4656e3a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f8498ddcab195dcda5a24dfb7405db9c = $(`<div id="html_f8498ddcab195dcda5a24dfb7405db9c" style="width: 100.0%; height: 100.0%;">Voo 3344 | Data: 02/12 | Hora: 09:30 | Preço: 3500</div>`)[0];
                popup_4ce38e48db458cd5090e4052c4656e3a.setContent(html_f8498ddcab195dcda5a24dfb7405db9c);
            
        

        poly_line_53ff7b395c787f16f8e313e88ac8d50c.bindPopup(popup_4ce38e48db458cd5090e4052c4656e3a)
        ;

        
    
    
            var poly_line_aab7062df63ef0083a35f051032b2c30 = L.polyline(
                [[36.5, 127.5], [36.2048, 138.2529]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_8c341928630aed656c0e3b5979c89ee3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4d0f6f04813beda44569aa4cf8299542 = $(`<div id="html_4d0f6f04813beda44569aa4cf8299542" style="width: 100.0%; height: 100.0%;">Voo 4455 | Data: 03/12 | Hora: 16:45 | Preço: 1200</div>`)[0];
                popup_8c341928630aed656c0e3b5979c89ee3.setContent(html_4d0f6f04813beda44569aa4cf8299542);
            
        

        poly_line_aab7062df63ef0083a35f051032b2c30.bindPopup(popup_8c341928630aed656c0e3b5979c89ee3)
        ;

        
    
    
            var poly_line_a8aba03674992d7dc31b8a660054d602 = L.polyline(
                [[37.0902, -95.7129], [36.2048, 138.2529]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_93b36ab093ff46bfd7da8915e979dc4e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b7011d575d5eda7bae01ce7a2b83d98b = $(`<div id="html_b7011d575d5eda7bae01ce7a2b83d98b" style="width: 100.0%; height: 100.0%;">Voo 5566 | Data: 04/12 | Hora: 18:00 | Preço: 6000</div>`)[0];
                popup_93b36ab093ff46bfd7da8915e979dc4e.setContent(html_b7011d575d5eda7bae01ce7a2b83d98b);
            
        

        poly_line_a8aba03674992d7dc31b8a660054d602.bindPopup(popup_93b36ab093ff46bfd7da8915e979dc4e)
        ;

        
    
    
            var poly_line_09236410accc18fb2984436b6112c04f = L.polyline(
                [[36.2048, 138.2529], [36.5, 127.5]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_274a540aefe00add647a0eb47e96a52b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_05132853f08c52d0144bb5fd9b79f0b3 = $(`<div id="html_05132853f08c52d0144bb5fd9b79f0b3" style="width: 100.0%; height: 100.0%;">Voo 6677 | Data: 05/12 | Hora: 12:15 | Preço: 1300</div>`)[0];
                popup_274a540aefe00add647a0eb47e96a52b.setContent(html_05132853f08c52d0144bb5fd9b79f0b3);
            
        

        poly_line_09236410accc18fb2984436b6112c04f.bindPopup(popup_274a540aefe00add647a0eb47e96a52b)
        ;

        
    
    
            var poly_line_ac552419c5667808e3184312ece064f3 = L.polyline(
                [[46.2276, 2.2137], [37.0902, -95.7129]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_3cb9fbf7020c35d3431eee3c4c3af3ee = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c2a79991833385bfbeb1b53c28e1b983 = $(`<div id="html_c2a79991833385bfbeb1b53c28e1b983" style="width: 100.0%; height: 100.0%;">Voo 7788 | Data: 06/12 | Hora: 13:30 | Preço: 8000</div>`)[0];
                popup_3cb9fbf7020c35d3431eee3c4c3af3ee.setContent(html_c2a79991833385bfbeb1b53c28e1b983);
            
        

        poly_line_ac552419c5667808e3184312ece064f3.bindPopup(popup_3cb9fbf7020c35d3431eee3c4c3af3ee)
        ;

        
    
    
            var poly_line_d4c0bdf0f251595a24e067a57cbd95b8 = L.polyline(
                [[51.1657, 10.4515], [-15.7801, -47.9292]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_f2d2b45f555efa1836be7120bac799b3);
        
    
        var popup_aea76e8d4ba5c62b42e64dea51ce5129 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_17f6888470f985133864dc7e61e34339 = $(`<div id="html_17f6888470f985133864dc7e61e34339" style="width: 100.0%; height: 100.0%;">Voo 12331 | Data: 2025-11-06 | Hora: 08:40 | Preço: 8400.0</div>`)[0];
                popup_aea76e8d4ba5c62b42e64dea51ce5129.setContent(html_17f6888470f985133864dc7e61e34339);
            
        

        poly_line_d4c0bdf0f251595a24e067a57cbd95b8.bindPopup(popup_aea76e8d4ba5c62b42e64dea51ce5129)
        ;

        
    
</script>
</html>