<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_807b0f5052cb89fd0a16b015a81e617a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_807b0f5052cb89fd0a16b015a81e617a" ></div>
        
</body>
<script>
    
    
            var map_807b0f5052cb89fd0a16b015a81e617a = L.map(
                "map_807b0f5052cb89fd0a16b015a81e617a",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 2,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_c699730649cc5e7383c9c6173cd100fa = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_c699730649cc5e7383c9c6173cd100fa.addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
            var marker_b05be3b5e72fa1be087a9c63dae27714 = L.marker(
                [-15.7801, -47.9292],
                {
}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
            var icon_5aa0462f178b3d5f62d00c7dc8e6be36 = L.AwesomeMarkers.icon(
                {
  "markerColor": "green",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_65959cc0d524950b15816c893532e3c9 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_550402b4403966fd691bcf5485d2b487 = $(`<div id="html_550402b4403966fd691bcf5485d2b487" style="width: 100.0%; height: 100.0%;">Aeroporto: Brasil</div>`)[0];
                popup_65959cc0d524950b15816c893532e3c9.setContent(html_550402b4403966fd691bcf5485d2b487);
            
        

        marker_b05be3b5e72fa1be087a9c63dae27714.bindPopup(popup_65959cc0d524950b15816c893532e3c9)
        ;

        
    
    
                marker_b05be3b5e72fa1be087a9c63dae27714.setIcon(icon_5aa0462f178b3d5f62d00c7dc8e6be36);
            
    
            var marker_3eb668ed79b3dcbfc6ecb52dbc24d391 = L.marker(
                [36.5, 127.5],
                {
}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
            var icon_40180d5a7075e5ce652958696115d5e3 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_12ba9bf449bb9dcb45f18cc0cac2e2a6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bc6ce62ba291d507e977a26e8f652aad = $(`<div id="html_bc6ce62ba291d507e977a26e8f652aad" style="width: 100.0%; height: 100.0%;">Aeroporto: Coreia</div>`)[0];
                popup_12ba9bf449bb9dcb45f18cc0cac2e2a6.setContent(html_bc6ce62ba291d507e977a26e8f652aad);
            
        

        marker_3eb668ed79b3dcbfc6ecb52dbc24d391.bindPopup(popup_12ba9bf449bb9dcb45f18cc0cac2e2a6)
        ;

        
    
    
                marker_3eb668ed79b3dcbfc6ecb52dbc24d391.setIcon(icon_40180d5a7075e5ce652958696115d5e3);
            
    
            var poly_line_e090440857e759059fde19304c1cbdeb = L.polyline(
                [[-15.7801, -47.9292], [36.5, 127.5]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_c247e8bfd08309718fd9345b00cd7b1e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d18dbb6fbb0a0407bc328e6e1eada62a = $(`<div id="html_d18dbb6fbb0a0407bc328e6e1eada62a" style="width: 100.0%; height: 100.0%;">Voo 3413 | Data: 20/11 | Hora: 10:10 | Preço: 10000</div>`)[0];
                popup_c247e8bfd08309718fd9345b00cd7b1e.setContent(html_d18dbb6fbb0a0407bc328e6e1eada62a);
            
        

        poly_line_e090440857e759059fde19304c1cbdeb.bindPopup(popup_c247e8bfd08309718fd9345b00cd7b1e)
        ;

        
    
    
            var marker_8f2b5e19f1e0817683aefa1b722234b9 = L.marker(
                [36.2048, 138.2529],
                {
}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
            var icon_1a10a898be9c5b9ce737bc251f0f62e5 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1281ae568d82c543f3f83e31b34cd6a5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_bf14749d79cf0f98311d38e62680414e = $(`<div id="html_bf14749d79cf0f98311d38e62680414e" style="width: 100.0%; height: 100.0%;">Aeroporto: Japão</div>`)[0];
                popup_1281ae568d82c543f3f83e31b34cd6a5.setContent(html_bf14749d79cf0f98311d38e62680414e);
            
        

        marker_8f2b5e19f1e0817683aefa1b722234b9.bindPopup(popup_1281ae568d82c543f3f83e31b34cd6a5)
        ;

        
    
    
                marker_8f2b5e19f1e0817683aefa1b722234b9.setIcon(icon_1a10a898be9c5b9ce737bc251f0f62e5);
            
    
            var poly_line_42296c8d5dc0555b5924013fe58676a0 = L.polyline(
                [[-15.7801, -47.9292], [36.2048, 138.2529]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_8981767e3121220c21b52164b8f52e62 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a4216e6dc980a20226341987ecd11af3 = $(`<div id="html_a4216e6dc980a20226341987ecd11af3" style="width: 100.0%; height: 100.0%;">Voo 4521 | Data: 22/11 | Hora: 15:30 | Preço: 8500</div>`)[0];
                popup_8981767e3121220c21b52164b8f52e62.setContent(html_a4216e6dc980a20226341987ecd11af3);
            
        

        poly_line_42296c8d5dc0555b5924013fe58676a0.bindPopup(popup_8981767e3121220c21b52164b8f52e62)
        ;

        
    
    
            var marker_e9e375ed542cb08dcf3c936d9196378c = L.marker(
                [37.0902, -95.7129],
                {
}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
            var icon_92f2b669bfc6bce2e669aca8c1bba3d1 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b97a3eecbd1b473295d8608172aa9837 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_34330e5ce569eb93735d72df61aed634 = $(`<div id="html_34330e5ce569eb93735d72df61aed634" style="width: 100.0%; height: 100.0%;">Aeroporto: Estados Unidos</div>`)[0];
                popup_b97a3eecbd1b473295d8608172aa9837.setContent(html_34330e5ce569eb93735d72df61aed634);
            
        

        marker_e9e375ed542cb08dcf3c936d9196378c.bindPopup(popup_b97a3eecbd1b473295d8608172aa9837)
        ;

        
    
    
                marker_e9e375ed542cb08dcf3c936d9196378c.setIcon(icon_92f2b669bfc6bce2e669aca8c1bba3d1);
            
    
            var poly_line_300803cfb2711f527adb141f63c49f37 = L.polyline(
                [[-15.7801, -47.9292], [37.0902, -95.7129]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_2d7f601d0c91dc6c68d0709384747762 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_436b19066ee1c7072b54f38c043b07ce = $(`<div id="html_436b19066ee1c7072b54f38c043b07ce" style="width: 100.0%; height: 100.0%;">Voo 7689 | Data: 25/11 | Hora: 08:00 | Preço: 12000</div>`)[0];
                popup_2d7f601d0c91dc6c68d0709384747762.setContent(html_436b19066ee1c7072b54f38c043b07ce);
            
        

        poly_line_300803cfb2711f527adb141f63c49f37.bindPopup(popup_2d7f601d0c91dc6c68d0709384747762)
        ;

        
    
    
            var marker_0f0909f897f330db5548e9d0c2da5f40 = L.marker(
                [46.2276, 2.2137],
                {
}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
            var icon_2fb036555d0a9a302dab3dfb636d7c39 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_35ffa7cae6b5ae2c5ecf627d777956b0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9bf206f18145f519733ac995651456e3 = $(`<div id="html_9bf206f18145f519733ac995651456e3" style="width: 100.0%; height: 100.0%;">Aeroporto: França</div>`)[0];
                popup_35ffa7cae6b5ae2c5ecf627d777956b0.setContent(html_9bf206f18145f519733ac995651456e3);
            
        

        marker_0f0909f897f330db5548e9d0c2da5f40.bindPopup(popup_35ffa7cae6b5ae2c5ecf627d777956b0)
        ;

        
    
    
                marker_0f0909f897f330db5548e9d0c2da5f40.setIcon(icon_2fb036555d0a9a302dab3dfb636d7c39);
            
    
            var poly_line_d9119438cde389af10979173eeaef1a9 = L.polyline(
                [[-15.7801, -47.9292], [46.2276, 2.2137]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_c78116a28192de9985fa3bd63727da88 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_aa86c54c29c956c65c62eb9086dffb91 = $(`<div id="html_aa86c54c29c956c65c62eb9086dffb91" style="width: 100.0%; height: 100.0%;">Voo 9987 | Data: 28/11 | Hora: 12:45 | Preço: 9500</div>`)[0];
                popup_c78116a28192de9985fa3bd63727da88.setContent(html_aa86c54c29c956c65c62eb9086dffb91);
            
        

        poly_line_d9119438cde389af10979173eeaef1a9.bindPopup(popup_c78116a28192de9985fa3bd63727da88)
        ;

        
    
    
            var marker_d6961b05fb744236ef6248bc53800f96 = L.marker(
                [51.1657, 10.4515],
                {
}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
            var icon_574c9302f5b5104d5e80555f88ba0354 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_540e3eeff44f036b281e69e9382018c2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a822e76406d1bd205239aa2bc3315337 = $(`<div id="html_a822e76406d1bd205239aa2bc3315337" style="width: 100.0%; height: 100.0%;">Aeroporto: Alemanha</div>`)[0];
                popup_540e3eeff44f036b281e69e9382018c2.setContent(html_a822e76406d1bd205239aa2bc3315337);
            
        

        marker_d6961b05fb744236ef6248bc53800f96.bindPopup(popup_540e3eeff44f036b281e69e9382018c2)
        ;

        
    
    
                marker_d6961b05fb744236ef6248bc53800f96.setIcon(icon_574c9302f5b5104d5e80555f88ba0354);
            
    
            var poly_line_6c85ccac254ad113386b90a3050c1598 = L.polyline(
                [[-15.7801, -47.9292], [51.1657, 10.4515]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_d96cabf8feaf83af917caeeb53096abb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_63469d857f26ad86f5115101154450ad = $(`<div id="html_63469d857f26ad86f5115101154450ad" style="width: 100.0%; height: 100.0%;">Voo 1122 | Data: 30/11 | Hora: 20:15 | Preço: 9800</div>`)[0];
                popup_d96cabf8feaf83af917caeeb53096abb.setContent(html_63469d857f26ad86f5115101154450ad);
            
        

        poly_line_6c85ccac254ad113386b90a3050c1598.bindPopup(popup_d96cabf8feaf83af917caeeb53096abb)
        ;

        
    
    
            var poly_line_b0ebb7a643b7400a04b7db6f5e2f0469 = L.polyline(
                [[36.5, 127.5], [37.0902, -95.7129]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_6bc3841c5b875a94a6be569658c339ca = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cde603f6f27847ac04a8326e7b5d89c7 = $(`<div id="html_cde603f6f27847ac04a8326e7b5d89c7" style="width: 100.0%; height: 100.0%;">Voo 1234 | Data: 2025-12-18 | Hora: 20:59 | Preço: 1400.0</div>`)[0];
                popup_6bc3841c5b875a94a6be569658c339ca.setContent(html_cde603f6f27847ac04a8326e7b5d89c7);
            
        

        poly_line_b0ebb7a643b7400a04b7db6f5e2f0469.bindPopup(popup_6bc3841c5b875a94a6be569658c339ca)
        ;

        
    
    
            var marker_e97dab0c98548714dfc48d7ee757f9de = L.marker(
                [-11.2027, 17.8739],
                {
}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
            var icon_58620430f1589c59ea853bbeab945dd0 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "plane",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b037d30becb9a74a750f9fd82c947c02 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_76db594584861fea21a4bf6ca736cb75 = $(`<div id="html_76db594584861fea21a4bf6ca736cb75" style="width: 100.0%; height: 100.0%;">Aeroporto: Angola</div>`)[0];
                popup_b037d30becb9a74a750f9fd82c947c02.setContent(html_76db594584861fea21a4bf6ca736cb75);
            
        

        marker_e97dab0c98548714dfc48d7ee757f9de.bindPopup(popup_b037d30becb9a74a750f9fd82c947c02)
        ;

        
    
    
                marker_e97dab0c98548714dfc48d7ee757f9de.setIcon(icon_58620430f1589c59ea853bbeab945dd0);
            
    
            var poly_line_cbb315aa9bd977105b159fd28e40ff7f = L.polyline(
                [[36.2048, 138.2529], [-11.2027, 17.8739]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_ba90e1eef045d5fe796456ded8e6463b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a5321af71a40563122efb3dd81808c95 = $(`<div id="html_a5321af71a40563122efb3dd81808c95" style="width: 100.0%; height: 100.0%;">Voo 1745 | Data: 2026-01-06 | Hora: 21:00 | Preço: 1000.0</div>`)[0];
                popup_ba90e1eef045d5fe796456ded8e6463b.setContent(html_a5321af71a40563122efb3dd81808c95);
            
        

        poly_line_cbb315aa9bd977105b159fd28e40ff7f.bindPopup(popup_ba90e1eef045d5fe796456ded8e6463b)
        ;

        
    
    
            var poly_line_075d102520674e28ede5fb61f7f3774d = L.polyline(
                [[37.0902, -95.7129], [36.5, 127.5]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_2814a577b6649757a4d57f5edce86ba0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dac8b8c0b779d18102c3f214a4f7f1ce = $(`<div id="html_dac8b8c0b779d18102c3f214a4f7f1ce" style="width: 100.0%; height: 100.0%;">Voo 5555 | Data: 15/11 | Hora: 19:00 | Preço: 7000</div>`)[0];
                popup_2814a577b6649757a4d57f5edce86ba0.setContent(html_dac8b8c0b779d18102c3f214a4f7f1ce);
            
        

        poly_line_075d102520674e28ede5fb61f7f3774d.bindPopup(popup_2814a577b6649757a4d57f5edce86ba0)
        ;

        
    
    
            var poly_line_a4602a4d78ad3afc3612a68f8f938bed = L.polyline(
                [[46.2276, 2.2137], [51.1657, 10.4515]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_de4ad469474d825935980652f9f289cd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_71426511c95c1a767d598c23b671f209 = $(`<div id="html_71426511c95c1a767d598c23b671f209" style="width: 100.0%; height: 100.0%;">Voo 2233 | Data: 01/12 | Hora: 14:00 | Preço: 2000</div>`)[0];
                popup_de4ad469474d825935980652f9f289cd.setContent(html_71426511c95c1a767d598c23b671f209);
            
        

        poly_line_a4602a4d78ad3afc3612a68f8f938bed.bindPopup(popup_de4ad469474d825935980652f9f289cd)
        ;

        
    
    
            var poly_line_ea83077529d1a0e856dccf2409c7a51b = L.polyline(
                [[51.1657, 10.4515], [36.5, 127.5]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_024b0f63a98057f3b537b126e8bbcbc7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4bdda1869670449391bfcccb39990c1a = $(`<div id="html_4bdda1869670449391bfcccb39990c1a" style="width: 100.0%; height: 100.0%;">Voo 3344 | Data: 02/12 | Hora: 09:30 | Preço: 3500</div>`)[0];
                popup_024b0f63a98057f3b537b126e8bbcbc7.setContent(html_4bdda1869670449391bfcccb39990c1a);
            
        

        poly_line_ea83077529d1a0e856dccf2409c7a51b.bindPopup(popup_024b0f63a98057f3b537b126e8bbcbc7)
        ;

        
    
    
            var poly_line_4ad6a476fe8fbfdf41ba0e75dd20b2cf = L.polyline(
                [[36.5, 127.5], [36.2048, 138.2529]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_0fe843ad9e2525119b660cc0dcbc085b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_69589dd051754beb79f3fa4181f9b0b7 = $(`<div id="html_69589dd051754beb79f3fa4181f9b0b7" style="width: 100.0%; height: 100.0%;">Voo 4455 | Data: 03/12 | Hora: 16:45 | Preço: 1200</div>`)[0];
                popup_0fe843ad9e2525119b660cc0dcbc085b.setContent(html_69589dd051754beb79f3fa4181f9b0b7);
            
        

        poly_line_4ad6a476fe8fbfdf41ba0e75dd20b2cf.bindPopup(popup_0fe843ad9e2525119b660cc0dcbc085b)
        ;

        
    
    
            var poly_line_324f9d1730c933161470bffd50ffa14e = L.polyline(
                [[37.0902, -95.7129], [36.2048, 138.2529]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_fa0eca30f0bb5f1ad1def3b1e9937d99 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_11e5a73a594ba9f47423a9593ca1cd1a = $(`<div id="html_11e5a73a594ba9f47423a9593ca1cd1a" style="width: 100.0%; height: 100.0%;">Voo 5566 | Data: 04/12 | Hora: 18:00 | Preço: 6000</div>`)[0];
                popup_fa0eca30f0bb5f1ad1def3b1e9937d99.setContent(html_11e5a73a594ba9f47423a9593ca1cd1a);
            
        

        poly_line_324f9d1730c933161470bffd50ffa14e.bindPopup(popup_fa0eca30f0bb5f1ad1def3b1e9937d99)
        ;

        
    
    
            var poly_line_49f386458088116cdcf101e115ed70c0 = L.polyline(
                [[36.2048, 138.2529], [36.5, 127.5]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_817fa94b33fc766eab64751ad815fbaf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2b32157eebf7a2ea8bf8d78c9b6b8270 = $(`<div id="html_2b32157eebf7a2ea8bf8d78c9b6b8270" style="width: 100.0%; height: 100.0%;">Voo 6677 | Data: 05/12 | Hora: 12:15 | Preço: 1300</div>`)[0];
                popup_817fa94b33fc766eab64751ad815fbaf.setContent(html_2b32157eebf7a2ea8bf8d78c9b6b8270);
            
        

        poly_line_49f386458088116cdcf101e115ed70c0.bindPopup(popup_817fa94b33fc766eab64751ad815fbaf)
        ;

        
    
    
            var poly_line_bbc3d5e62cc978b3adb2ce24c1adfcde = L.polyline(
                [[46.2276, 2.2137], [37.0902, -95.7129]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_807b0f5052cb89fd0a16b015a81e617a);
        
    
        var popup_3e9921cbe4aff62729056d66b10af5cf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_47cf96c83db7a40f8209da1039e7f62c = $(`<div id="html_47cf96c83db7a40f8209da1039e7f62c" style="width: 100.0%; height: 100.0%;">Voo 7788 | Data: 06/12 | Hora: 13:30 | Preço: 8000</div>`)[0];
                popup_3e9921cbe4aff62729056d66b10af5cf.setContent(html_47cf96c83db7a40f8209da1039e7f62c);
            
        

        poly_line_bbc3d5e62cc978b3adb2ce24c1adfcde.bindPopup(popup_3e9921cbe4aff62729056d66b10af5cf)
        ;

        
    
</script>
</html>