<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reserva de Voos</title>
     <link rel="icon" href="static\img\IconAviao.ico" type="image/x-icon">

    <!-- Bootstrap CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/home.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <!-- Cabeçalho -->
        <header class = "navbar">
            <div class = "logo-container">
                <h1 class = "logo-text"> <a href="{{ url_for('home') }}"> Linhas Aéreas EDII </a></h1>
                <img src = "static\img\bandeiraDoBrasil.png" alt = "Mapa Brasil"/>
            </div>
               <a href="/homeUser" title="Sair">
        <i class="fas fa-right-from-bracket fa-lg" style="color: white;"></i>
    </a>
    </a>
  </div>

        </header>

    <!-- Seção principal -->
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light"> Listas de voôs disponiveis </h2>
            <p class="lead text-body-secondary">
              Basta clicar em um voo para ser direcionado a pagina para reservar seu voo
            </p>
          </div>
        </div>
      </section>

      <!-- Galeria de fotos -->

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         {% if voos_agendados %}
             {% for voos_agendados in voos_agendados %}
            <!-- Card 1 -->
            <div class="col">
              <div class="card shadow-sm">
                <img src="static\img\Voo_imagem.jpg" class="card-img-top" alt="Foto 1">
                <div class="card-body">
                  <p class="card-text">Voo de {{ voos_agendados.Origem }} para {{ voos_agendados.Destino }}</p>
                  <p class="card-text">Valor: {{ voos_agendados.Data }}</p>
                  <p class="card-text">Horario de saida: {{ voos_agendados.Hora }}</p>
                  <p class="card-text">Valor: {{ voos_agendados.Preco_da_passagem }}</p>
                  <p class="card-text">Tipo de aeronave: {{ voos_agendados.Tipo_de_aeronave }}</p>
                  <p class="card-text">Numero de assentos: {{ voos_agendados.Numero_de_assentos }}</p>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Agendar</button>
                    </div>
                    <small class="text-body-secondary"> </small>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
            {% else %}
                Nenhum voo agendado.
            {% endif %}

          </div>
        </div>
      </div>
    </main>

    <!-- Rodapé -->
    <footer class="text-center py-5 bg-dark text-white">
      <div class="container">
        <p class="mb-1">&copy; 2025 Linhas Aéreas EDII</p>
        <p class="mb-0"><a href="#" class="text-white">Voltar ao topo</a></p>
      </div>
    </footer>

    <!-- Bootstrap JS via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
