<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title> Linhas Aéreas </title>
        <link rel="icon" href="static\img\IconAviao.ico" type="image/x-icon">

        <link rel="stylesheet" href="static/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
    <body>
        <!-- Navbar-->
        <header class = "navbar">
            <div class = "logo-container">
                <h1 class = "logo-text"> <a href="{{ url_for('home') }}"> Linhas Aéreas EDII </a></h1>
                <img src = "static/img/bandeiraDoBrasil.png" alt = "Mapa Brasil"/>
            </div> 
            <a href="/login" class="circle-btn">
                    <i class="fas fa-user"></i>
                </a>  
        </header>
        <div class = "text"> 
            <h1> Reservas do Voo </h1>
         {% if voos_agendados %}
          {% for voos_agendados in voos_agendados %}
            <li>
             Destino: {{ voos_agendados.Destino }} | Data: {{ voos_agendados.Data }} | Hora: {{ voos_agendados.Hora }}
            </li>
          {% endfor %}
        {% else %}
           Nenhum voo agendado.
        {% endif %}
         </ul>


        </div>

        

    </body>
</html>